.about{
    padding: 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 3rem;
    margin-top: 9rem;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome > :nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color: var(--yellow);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3){
    color: var(--gray);
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.s-button{
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
}

.cards{
    position: relative;
}

.cards>*{
    position: absolute;
}

.s-blur2{
    top:8rem
}

.s-blur1{
    left: -50rem;
    top:13rem
}

@media screen and (max-width: 400px) {
    .about{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 21rem;
    }

    .cards>*{
        position: static;
        display: flex;
        justify-content: center;
    }
}