.card{
    width: 15rem;
    height: 17rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, .26);
    border: .4rem solid var(--yellow);
    box-shadow: var(--boxshadow);
    border-radius: 1.3rem;
    padding: 0rem 1.6rem 2rem 1.6rem;
}

.card span:nth-of-type(2){
    color: var(--gray);
    font-size: .8rem;
}

.card > img {
    transform: scale(.6);
    margin-bottom: -2rem;
}

.c-button{
    background: #ffffff;
    box-shadow: 0rem 1.2rem 3.8rem rgba(0, 0, 0, .08);
    border-radius: .4rem;
    border: none;
    padding: .6rem;
    color: var(--purple);
    cursor: pointer;
}

