.contact-form{
    padding: 0 3rem;
    display: flex;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: .3em;
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 8px;
    font: 1rem;
}

textarea{
    height: 4rem!important;
}

@media screen and (max-width: 500px) {
    .contact-form{
        flex-direction: column;
        margin-bottom: 10rem;
    }
}



